@charset "UTF-8";

/* ----------------------------------------------*/
/* CSS for Fireworkz HTML Help / User Guide
/* ----------------------------------------------*/

/* CSS optimised for Windows HTML Help */
/* However, still don't try to over-tune User Guide pages on Windows :-) */
/* NB Windows HTML Help is brain-dead w.r.t. features like CSS3 found in IE8 onwards */

/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

/* Copyright © 1994-1998 Colton Software Limited
 * Copyright © 1998-2015 R W Colton */

/* ----- General ----- */
body {
    font-size: 12.8pt;
    font-family: Cambria, serif;
    font-weight: normal;
    font-style: normal;
    color: black;
    background-color: white;
    line-height: 1.33em;
    margin-left: 2.0em;
    margin-right: 2.0em;
    max-width: 750px;
}

a:link {
    color: #800080;
    text-decoration: underline;
}

a:hover {
    color: #FF0000;
    text-decoration: none;
}

a:active {
    color: #FF0000;
    text-decoration: none;
}

/* paragraphs */
.csg-page-padding-left,
p {
    padding-left: 2.5em;
    margin-right: 6px;
}

.csg-page-padding-left {
    padding-left: 2.5em;
}

/* ----- para note box -----*/
p.note {
    background-color: #FFFFCC;
    border: 1px solid #FFCC00;
    margin-left: 10px;
    padding: 6px 6px;
}

/* headings */
h1 {
    font-family: sans-serif;
    font-size: 22pt;
}

h2 {
    font-family: sans-serif;
    font-size: 18pt;
}

h3 {
    font-family: sans-serif;
    font-size: 15pt;
}

h4 {
    font-family: sans-serif;
    font-size: 13pt;
    padding-left: 1.25em;
}

/* lists */
li {
    /*line-height:1.5em;*/
    padding-bottom: 5px;
}

ul.csg-list-style-none,
li.csg-list-style-none {
    list-style-type: none;
}

/* start of csg-* definitions */

.csg-chapter-number {
    float: left;
    min-width: 1.4em;
}

.csg-chapter-number-index {
    float: left;
    width: 1.4em;
}

.csg-chapter-sub-number {
    float: left;
    min-width: 2.6em;
}

/* Most UI elements in bold text */
.csg-dbox,
.csg-dbox-button,
.csg-dbox-button-core,
.csg-dbox-option,
.csg-dbox-option-value,
.csg-menu,
.csg-menu-option,
.csg-toolbar-button
{
    font-family: 'Segoe UI', sans-serif;
    font-weight: bold;
}

/* And Many Title Cased on Windows */
.csg-dbox,
.csg-dbox-button,
.csg-dbox-button-core,
.csg-menu,
.csg-menu-option,
.csg-toolbar-button,
.csg-windows-title-case {
    text-transform: capitalize;
}

/* A dialogue box */
.csg-dbox {
}

/* An action button in a dialogue box */
.csg-dbox-button {
}

.csg-dbox-button-core {
}

/* Container for default action button */
.csg-dbox-button-default {
}

/* A specific option button value (e.g. radio button label) */
.csg-dbox-option-value {
}

/* Filename elements */
.csg-filename {
    font-family: monospace;
}

/* Heading style for spreadsheet function sections */
/* No h2.csg-function here as help is structured differently */

/* A spreadsheet function declaration: name(parameter-list) */
.csg-function-declaration {
    font-weight: bold;
}

.csg-function-formula,
.csg-function-formula-font-family,
.csg-function-formula-variable {
    font-family: serif;
}

/* Formula used to evaluate a spreadsheet function */
.csg-function-formula {
    font-size: 120%;
    margin-left: 2em;
}

.csg-function-formula-variable {
    font-style: italic;
}

/* A parameter to a spreadsheet function */
td.csg-function-parameter,
.csg-function-parameter {
    font-weight: bold;
    font-style: italic;
}

/* A parameter to a spreadsheet function in a descriptive table */
td.csg-function-parameter {
    vertical-align: top;
}

/* The type of a parameter to a spreadsheet function */
.csg-function-parameter-type {
}

/* Outermost brackets in formula modifier #2 */
.csg-function-formula-parentheses-2 {
    font-size: 120%;
}

/* Outermost brackets in formula modifier #1 */
.csg-function-formula-parentheses-1 {
    font-size: 110%;
}

/* A spreadsheet function Syntax: etc. line */
.csg-function-subheading {
    font-weight: bold;
}

/* Things like pi render better */
.csg-greek-symbol {
    font-family: 'Cambria Math', Symbol, serif;
}

/* A key on the keyboard */
.csg-key {
    font-family: 'Calibri', sans-serif;
}

.csg-lhs-img {
    padding-top: 5px;
    position: absolute;
    left: 16px;
    float: left;
}

div.csg-line {
    border-bottom: 1px solid #666;
    padding-top: 10px;
    margin-bottom: 10px;
    width: 120pt;
}

.csg-list-option {
    /*font-weight: bold;*/
    font-style: italic;
}

span.csg-math-symbol,
span.csg-math-symbol-sum,
span.csg-math-symbol-prod {
    font-family: 'Cambria Math', serif;
}

/* Things like Sum and Product render better a little larger */
span.csg-math-symbol-sum,
span.csg-math-symbol-prod {
    font-size: 120%;
}

sup.csg-math-symbol-limit-upper {
    font-size: 90%;
    position: relative;
    bottom: 6px;
}

sub.csg-math-symbol-limit-lower {
    font-size: 90%; /*
    position: relative;
    bottom: 0px; */
}

span.csg-math-bigger {
    font-size: 120%;
}

/* A menu */
.csg-menu {
}

/* An option on a menu */
.csg-menu-option {
}

/* Sample text */
.csg-sample {
    font-family: sans-serif;
    font-size: 11pt;
    font-weight: normal;
    font-style: normal;
}

/* How much to indent samples by (NB not all sample text is on its own line to indent) */
.csg-sample-indent {
    margin-left: 4.5em;
}

.csg-table-align-top {
    vertical-align: top;
}

/* A button on the Fireworkz toolbar */
.csg-toolbar-button {
}

/* Text typed by the user */
.csg-user-text {
    font-family: monospace;
}

nav.navheader {
}

table#navheader {
    display: none;
}

table#navheader {
    width: 100%;
}

table#navheader > tbody > tr > td:first-child { /* CSS2 equivalent to nth-child(1) */
    width: 33%;
    text-align: left;
    padding-left: 0;
    vertical-align: top;
}

table#navheader > tbody > tr > td:first-child + th { /* CSS2 equivalent to nth-child(2) (NB th) */
    width: 34%;
    text-align: center;
    vertical-align: top;
}

table#navheader > tbody > tr > td:first-child + th + td { /* CSS2 equivalent to nth-child(3) */
    width: 33%;
    text-align: right;
    padding-right: 0;
    vertical-align: top;
}

nav.navfooter {
    border-top: 1px solid #888;
    padding-top: 8pt;
    margin-top: 24pt;
}

table#navfooter {
    width: 100%;
}

table#navfooter > tbody > tr > td:first-child { /* CSS2 equivalent to nth-child(1) */
    width: 40%;
    text-align: left;
    padding-left: 0;
    vertical-align: top;
}

table#navfooter > tbody > tr > td:first-child + td { /* CSS2 equivalent to nth-child(2) */
    width: 20%;
    text-align: center;
    vertical-align: top;
}

table#navfooter > tbody > tr > td:first-child + td + td { /* CSS2 equivalent to nth-child(3) */
    width: 40%;
    text-align: right;
    padding-right: 0;
    vertical-align: top;
}
