Package: Fireworkz-Examples
Version: 20191221
Section: Document
Priority: Optional
Maintainer: Colton Software <colton-software-fireworkz@googlegroups.com>
Standards-Version: 0.4.0
Licence: Free
Description: Example files for Fireworkz
 Example files to demonstrate, and help with using, various Fireworkz facilities.
 .
 Also files that can be used when working through the Fireworkz Getting Started Guide for RISC OS.
Components: Apps.Document.FzExamples (Movable)
Depends: Fireworkz
